.map-page {
    height: 100vh;
}

.map-page-content {
    display: flex;
    width: 100%;
    position: relative;
}

.form-map-display {
    width: 16.5rem;
    height: 90vh;
}

.map-display {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    position: absolute;
}

.menu-expanded .map-display {
    z-index: -1;
}

.result-container {
    position: absolute;
    width: 300px;
    height: 140px;
    border: 2px solid rgba(131, 131, 131, 0.5);
    right: 10px;
    bottom: 10px;
    z-index: 1;
    border-radius: 4px;
}

@media screen and (max-width: 1000px) {
    .form-map-display {
        /* display: none; */
        z-index: -1;
    }

    .map-page {
        height: auto;
    }
}

@media screen and (max-width: 326px) {
    .result-container {
        position: absolute;
        width: 200px;
    }
    
}