.calcForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcForm__mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.calcForm__mapa-forms {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0 1rem 0 1rem;
    background-color: var(--fonte-fundo-vermelho);
    left: 0;
    z-index: 100;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    font-size: 1rem;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input,
select,
select option {
    font-size: 1rem;
}

@media screen and (min-width: 1000px) {
    input, select {
        margin-bottom: 0px;
    }
}
