@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
    --barra-superior: rgb(168, 15, 15);
    --barra-superior-escuro: rgb(110, 20, 20);
    --fonte-fundo-vermelho: rgb(245, 245, 245);
}