.calculo__mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.calculo__mapa-view {
    height: auto;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}
