.calculo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculo__mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.calculo__mapa-forms {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 80%;
    padding: 0 1rem 0 1rem;
    background-color: var(--fonte-fundo-vermelho);
    /* border-right: 2px solid var(--barra-superior); */
    position: absolute;
    left: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 2rem;
}

input, select {
    margin-bottom: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input {
    font-size: 2rem;
}

select {
    font-size: 2rem;
}

select option{
    font-size: 1rem;
}

button {
    background-color: var(--barra-superior);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
}

button:hover {
    background-color: var(--barra-superior-escuro);
}

.calculo__top,
.calculo__footer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    text-align: center;
    background-color: var(--barra-superior);
}

.calculo__top {
    justify-content: space-between;
}

.calculo__footer {
    justify-content: center;
}

.calculo__top-logo h1,
.calculo__footer p {
    color: var(--fonte-fundo-vermelho);
}

.calculo__top-logo h1 {
    margin: 0;
    padding-right: 1rem;
    font-size: 36px;
    padding-left: 0.5rem;
}

.calculo__top-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.calculo__mapa-view {
    height: auto;
    width: 100%;
}

#map {
    height: 100vh;
    width: 100%;
}

.toggle-menu-checkbox {
    display: none;
}

.toggle-menu-icon {
    cursor: pointer;
    display: flex;
    color: var(--fonte-fundo-vermelho);
    padding-left: 1rem;
    margin: 0;
}

.toggle-menu-checkbox:checked~.calculo__mapa .calculo__mapa-forms {
    display: flex;
}

.toggle-menu-checkbox:checked~.calculo__mapa-view {
    z-index: -1;
}


@media screen and (min-width: 1000px) {

    label {
        font-size: 1rem;
    }
    
    input, select {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .calculo__mapa-forms {
        display: flex;
        position: relative;
        width: 20rem;
    }

    .toggle-menu-checkbox,
    .toggle-menu-icon {
        display: none;
    }

    .calculo__top {
        justify-content: center;
    }

    .calculo__top-logo h1 {
        padding-right: 0;
        font-size: 36px;
    }

    .calculo__top-logo a {
        display: flex;
    }

    button {
        font-size: 1rem;
    }

}