.calculo__menuLat {
    display: flex;
    flex-direction: column;
}

.calculo__menuLat-btn {
    z-index: 1;
}

.calculo__menuLat-btn svg {
    cursor: pointer;
    color: var(--fonte-fundo-vermelho);
}

.calculo__menuLat-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--barra-superior);
    padding-top: 4rem;
    position: absolute;
    left: 0px;
    top: 0;
}

@media screen and (min-width: 1000px) {
    .calculo__menuLat-btn {
        display: none;
    }
}
